@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.LoggedUser!=null)
{
    <partial name="Partial_View/_Navbar" model="@ViewBag.LoggedUser" />
}
else
{
    <partial name="Partial_View/_Navbar" model="@null" />
}

@* Carousel *@
<div class="container-fuild">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="Carousel/Carousel1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="Carousel/Carousel2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="Carousel/Carousel3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="Carousel/Carousel4.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


@* Card *@
<div class="container my-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" style="border:dotted">
            <div class="card">
                <img src="Card/Card1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Planned Expenses</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:dotted; height:400px;">
                <img src="Card/Card2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tracking Expenses</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:dotted; height:400px;">
                <img src="Card/Card3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Investments</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:dotted; height:400px;">
                <img src="Card/Card4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Savings</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
